################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Howie_Math_Study/obj/Debug
/Howie_Math_Study/bin/Debug
