################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Howie_Math_Study/obj/Debug
/Howie_Math_Study/bin/Debug
/.vs/Howie_Math_Study/v15/Server/sqlite3/storage.ide-wal
/.vs/Howie_Math_Study/v15/Server/sqlite3/storage.ide-shm
/.vs/Howie_Math_Study/v15/Server/sqlite3/storage.ide
/.vs/Howie_Math_Study/v15/Server/sqlite3/db.lock
